<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<!-- <th:block th:fragment="footer">
		<th:block th:if="${user.roleId < '99'}">
		<nav class="navbar navbar-inverse navbar-static-bot nav"
			style="background-color: #fafafb; box-shadow: 0 0 5px #888">
			<div class="container">
				<div class="row col-md-3 text-center"></div>
				<div class="row col-md-6 text-center">
					<div class="col-md-12 text-center" style="font-size: 14px;">
						<span><small>&copy; Copyright © 2021 FPT_AS12_SEINO</small></span>
					</div>
				</div>

				<div class="row col-md-3 text-center">
					<b class="mt-1 text-danger">ACCEPT REMIND TASK: </b> <input id = "flagAccepRemind" onchange="changeFlagAccessRemind(this.checked)" type="checkbox" data-toggle="toggle" data-size="sm">
				</div>
			</div>
		</nav>
		</th:block>
	</th:block> -->
</body>
</html> 