<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/resources/images/common/shd-logo.gif}" type="image/icon type">
</head>
<frameset border="0" cols="250,*" frameborder="yes" id="frame-main">
	<frame name="menu" id="frame-menu" marginwidth="0" marginheight="0" scrolling="yes" src="./menu"/>
	<frame name="screen" marginwidth="0" marginheight="0" scrolling="auto" src="./screen"/>
</frameset>
</html>