<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" th:href="@{/resources/images/common/bg-02.jpg}" type="image/icon type">
	<title>[[#{screen.header}]]</title>
</head>
<frameset border="1" rows="60,*" frameborder="yes" framespacing="1">
	<frame name="header" marginwidth="0" marginheight="0" scrolling="yes" src="./header"/>
	<frame name="main" marginwidth="0" marginheight="0" scrolling="auto" src="./main"/>
	<frame name="footer" marginwidth="0" marginheight="0" scrolling="auto" src="./footer"/>
</frameset>
</html>