<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{commons/main}">
<head>
<title th:text="${@baseTag.message('QuanLyTaiKhoan.literal.title')}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/app/QuanLyTaiKhoan.css}" />
<script th:inline="text">
</script>
<script type="text/javascript" th:inline="javascript" charset="UTF-8" th:src="@{/resources/js/app/QuanLyTaiKhoan.js}"></script>
<script th:inline="javascript">
	messageHeaderModelDetailUpdate=[[${@baseTag.message('QuanLyTaiKhoan.literal.edit')}]];
	messageHeaderModelDetailAdd=[[${@baseTag.message('QuanLyTaiKhoan.literal.add')}]];
</script>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<!-- <div class="title-screen text-center mt-2">
			<h2 class="font-weight-bold" th:text="${@baseTag.message('QuanLyTaiKhoan.literal.title')}"></h2>
		</div> -->
		<br>
		<div class="area-input">
		<form id="frm_search" enctype="multipart/form-data" target="upload"  th:attr="action=@{/Master/QuanLyTaiKhoan/upload}" method="POST">
			<div class="row">
				<div class="col-md-12 col-md-offset-1">
					<div class="form-section">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<input type="text" class="item-input-search form-control " id="allSearch" th:placeholder="${@baseTag.message('QuanLyTaiKhoan.literal.search')}" maxlength=50>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
									<button id="btn_search" type = "button" class="btn btn-success w-100"><th:bock th:utext="${@baseTag.message('common.search')}"></button>
							</div>
							<div class="col-md-5"></div>
							<div class="col-md-3"></div>
							<div class="col-md-2">
								<a href="#" onclick = "showModalAdd()" class="btn btn-light w-100"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span><th:bock th:utext="${@baseTag.message('common.message.add')}"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
		<div class="pr-0">
			<table
				class="table table-hover table-striped table-bordered"
				id="tbl_datatables">
				<thead class="text-color-header">
					<tr>
						<th scope="col" class="text-center align-middle"><th:bock th:utext="${@baseTag.message('QuanLyTaiKhoan.literal.taiKhoan')}"></th>
						<th scope="col" class="text-center align-middle"><th:bock th:utext="${@baseTag.message('QuanLyTaiKhoan.literal.hoVaTen')}"></th>
						<th scope="col" class="text-center align-middle"><th:bock th:utext="${@baseTag.message('QuanLyTaiKhoan.literal.quyen')}"></th>
						<th scope="col" class="text-center align-middle"><th:bock th:utext="${@baseTag.message('common.message.actions')}"></th>
					</tr>
				</thead>
			</table>
		</div>
		<th:block th:replace="app/QuanLyTaiKhoanChiTiet :: QuanLyTaiKhoanChiTiet" />
		<th:block th:replace="fragments/ModalDelete :: ModalDelete" />
		<th:block th:replace="fragments/ListItemHidden"/>
		<th:block th:replace="fragments/CommonDownloadFile"/>
		<th:block th:replace="fragments/CommonUploadFile"/>
	</div>
</body>
</html>